
<div class="home__gif__block">
  <div class="home__color__block">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4" style='margin-top:-150px;'>
      <h2 class='home__big__text'>ЕСТЬ ПОНИМАНИЕ<span class='home__small__detail'>,</span></h2>
      <h2 class='home__big__text'>  ГДЕ ТЫ<span class='home__small__detail light'>?</span>  </h2>
      <br>
      <h4 class='home__sub__big__text'> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, reprehenderit? </h4>
      <p class='home__text'> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
         Explicabo, ipsa amet quis necessitatibus nisi officiis sequi,
         repellendus maiores temporibus quae veritatis perferendis hic
         iste veniam ratione? Ipsum nobis doloremque facere tenetur
         minima culpa totam voluptates! Tempore, ipsum similique! Mollitia
         optio tempora asperiores reprehenderit rem ullam harum voluptatibus,
         fugit ratione voluptatem? </p>
    </div>
  </div>
</div>
