
<div
class="container"
style='margin-top: 15px; padding-bottom: 10px; background-color: white;'>

    <div class="general__text">
      <div class="big__text"> Игры</div>
      <div class='item__subbig'> Устали? -Тогда вы по адресу!   </div>
    </div>

    <div class="row" >
      <div class="col-6"  style='padding: 5px;'>
        <div class="find__card__block" routerLink="/game/findCard">
          crdFnd
        </div>
      </div>
      <div class="col-6 " style='padding: 5px;'>
        <div class="xo__block" routerLink="/game/XO">
          xo
        </div>
      </div>
      <div class="col-6 " style='padding: 5px;'>
        <div class="xo__block" routerLink="/game/paint">
          Paint

        </div>
      </div>

   </div>  <!-- /row -->

</div>
