<div class="container" style='padding-top: 10px;'>
  <mat-card>
    <mat-card-title>Подлодка Даша</mat-card-title>
    <mat-card-subtitle>Для самый везучих людей</mat-card-subtitle>
    <mat-card-content></mat-card-content>
    <mat-card-actions>
      <div class="col-12 text-center">
        <div class='span text-center'>
          <button class="green">
            <span class='spanToRight'>Нажми</span>
          </button>
        </div>
      </div>



    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>

<br>

<div class="container subContainer">

  <mat-card class='setContainer' >
    <div class="submarinContainer" >
      <div class="submarine" >
        <div class="stern">
          <div class="top-stern">
            <div class="second-top-stern">
              <div class="inner-second-top-stern">

              </div>
              <div class="light-stern">

              </div>
            </div>
          </div>
          <div class="window-fir"></div>
          <div class="window-sec"></div>
          <div class="window-third"></div>
        </div>
        <div class="antenna">
          <div class="antenna-ball">

          </div>
        </div>

      </div>

    </div>


  </mat-card>

</div>
