<div class="container" style='padding-top: 10px;'>
  <mat-card>
    <mat-card-title>Подлодка Даша</mat-card-title>
    <mat-card-subtitle>Для самый везучих людей</mat-card-subtitle>
    <mat-card-content></mat-card-content>
    <mat-card-actions>

        <div class="col-12 text-right">
          <div class='span text-center'>
            <button class="green">
              <span class='spanToRight'></span>
            </button>
          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-3 text-center">

        </div>

    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>


<div class='spinner'>

</div>

<br>

<div class="container subContainer">

  <mat-card class='setContainer' >
    <div class="submarinContainer" >
      <div class="submarine" >
        <div class="stern">
          <div class="top-stern">
            <div class="second-top-stern">
              <div class="inner-second-top-stern">

              </div>
              <div class="light-stern">

              </div>
            </div>
          </div>
          <div class="window-fir"></div>
          <div class="window-sec"></div>
          <div class="window-third"></div>

          <div class="antenna">
            <div class="antenna-ball">
              <div class="antenna-sec"></div>
              <div class="antenna-thr"></div>
              <div class="antenna-four"></div>
            </div>
          </div>

        </div>

        <div class="window-big-fir"></div>
        <div class="window-big-sec"></div>
        <div class="window-big-third"></div>
        <div class="window-thief"></div>

        <!-- <div class="blades-top"></div> -->
        <!-- <div class="blades-bottom"></div> -->


        <div class="propeller">
          <div class="propeller-light"></div>
          <div class="propeller-dark"></div>

        </div>


        <div class="bubbles">
          <div class="bubbles-fir"></div>
          <div class="bubbles-sec"></div>
          <div class="bubbles-thr"></div>
          <div class="bubbles-four"></div>

        </div>

      </div>

    </div>


  </mat-card>

</div>
