.span{
  width: 130px;
  height: 40px;
  // border: 3px solid red;
  margin: 0px;
  padding: 0;
  transition: .5s;
  // cursor: pointer;

  &:hover{

    .green{
      margin-right:50px;
      left: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: none;
      color: rgb(23, 151, 23);
      background-color: rgb(23, 151, 23);
      transition: .5s;

      .spanToRight{
        padding-left: 45px;
        font-weight: 300;
      }

    }
  }
}

.spanToRight{
  transition: .5s;
}

.green{
  width: 130px;
  height: 40px;
  background-color: white;
  color: rgb(23, 151, 23);
  border: 1px solid rgb(23, 151, 23);
  margin: 0;padding: 0;
  transition: .5s;
}

// .green{
//   width: 40px;
//   height: 40px;
//   border-radius: 50px;
//   color: rgb(23, 151, 23);
//   background-color: rgb(23, 151, 23);
// }







.subContainer{
  padding: 10px;
  background-color: rgb(212, 212, 212);
  border: 3px solid rgb(73, 73, 73);
  border-radius: 30px;
}

.setContainer{
  border: 4px solid rgb(43, 43, 43);
  border-radius: 20px;
  width: 100%;
  height: 600px;
  background-color:rgb(55, 141, 223);
}

.submarinContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  background-color: rgb(55, 52, 241);
  display: block;
  transform: translate(-50%, -50%);


  &:hover{
    .submarine{
      top: 60%;
      left: 45%;
    }
    .antenna{
      top: -59px;
      height: 60px ;
    }
    .antenna-ball{
      width: 13px;
      height: 13px;
      background-color: rgb(110, 110, 110);
      border: 1px solid rgb(110, 110, 110);


    }
    .light-stern{
      left: -160px;
      width: 500px;
    }




  }



}

.submarine{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  background-color: rgb(184, 54, 54);

  transform: translate(-50%, -50%);

  border: 1px solid black;
  border-radius: 80px;
  border-top-right-radius: 70%;
  border-bottom-right-radius: 70%;

  transition: 1s;

}

.stern{
  position: absolute;
  top: -40px;
  left: 80px;
  width: 100px;
  height: 40px;
  border-bottom: 1px solid black;
  border-top: 2px solid black;
  // border-left: 1px solid black;
  background-color: rgb(184, 54, 54);
  border-top-right-radius: 80%;
}
.window-fir{
  position: absolute;
  top: 12px;
  left: 0px;
  width: 25px;
  height: 15px;
  border: 2px solid rgb(65, 65, 65);
  border-left: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;


  background-color: rgb(17, 209, 243);
}


.window-sec{
  position: absolute;
  top: 12px;
  left: 30px;
  width: 15px;
  height: 15px;
  border: 2px solid rgb(65, 65, 65);
  border-radius: 50px;

  background-color: rgb(17, 209, 243);
}

.window-third{
  position: absolute;
  top: 12px;
  left: 50px;
  width: 15px;
  height: 15px;
  border: 2px solid rgb(65, 65, 65);
  border-radius: 50px;

  background-color: rgb(17, 209, 243);
}


.top-stern{
  position: absolute;
  top: -40px;
  left: 25px;
  width: 10px;
  height: 43px;
  background-color: rgb(184, 54, 54);
  border-top-right-radius: 10px ;
}

.second-top-stern{
  position: absolute;
  top: 0;
  left:-9px;
  width: 10px;
  height: 10px;
  background-color: rgb(184, 54, 54);
}

.inner-second-top-stern{
  position: absolute;
  top: -1px;
  left: 0;
  width: 4px;
  height: 12px;
  background-color: rgb(56, 56, 56);
}

.light-stern{
  position: absolute;
  top: -1px;
  left: -100px;
  width: 310px;
  height: 120px;
  background: -webkit-gradient(linear, right top, left top, from(rgb(255, 255, 255)), to(#707070));
  background: linear-gradient(to left, rgb(255, 255, 255), #4e4e4e00);
  -webkit-clip-path: polygon(0% 0%, 50% 45%, 50% 55%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 45%, 50% 55%, 0% 100%);
  -webkit-transform: translate(-18%, -45%);
  transform: translate(-18%, -45%);

  transition: 1s;


}


.antenna{
  position: absolute;
  top: -39px;
  left: 200px;
  width: 2px;
  height: 40px;
  background-color: black;

  transition: 2s;
}
.antenna-ball{
  position: absolute;
  top: 0px;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 50px;

  transition: 2s;

}









