

<div class="container" style='padding: 15px; margin-top: 15px;'>
  <div class="row">
    <form [formGroup]="form">
      <h3 class='big__text'>Нужна помощь с поиском? </h3>
      <h4 class='subbig'> - воспользуйтесь формой</h4>
      <div style='margin: 15px;'>
        <mat-form-field  >
          <mat-label>Название фильма</mat-label>
          <input matInput formControlName="FindFilm">
        </mat-form-field>
        <mat-form-field style='padding-left: 30px;'>
          <mat-label>Имя главного актера</mat-label>
          <input matInput formControlName="FindActor">
        </mat-form-field >
        <button mat-icon-button id='one'>
          <i class="material-icons">search</i>
        </button>
      </div>

    </form>
  </div>
  <div class="row">

     <div class="col-3 user__block" *ngFor='let film of filterFilms$ | async'>

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">  <i class="material-icons" style='font-size:45px;'>supervised_user_circle</i> </div>
            <mat-card-title> {{film.partialFilmName}} </mat-card-title>
            <mat-card-subtitle> ФИЛЬМ  </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <br>
            Знаменитые актеры:
            <p style='margin: 10px 0 0 5px; font-size: 19px;'>
               {{film.partialActorName}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Удалить</button>
            <button mat-button>Посмотреть</button>
          </mat-card-actions>
        </mat-card>

     </div>

  </div>
</div>




