



<button mat-button>click</button>
  <button mat-raised-button>click</button>
  <button mat-flat-button>click</button>
  <button mat-stroked-button>click</button>


  <div>
    <button mat-icon-button>Icon</button>
    <button mat-fab> con</button>
    <button mat-mini-fab>Icon</button>

  </div>


  <button mat-button color='primary'>click</button>
  <button mat-button color='warn'>click</button>
  <button mat-button color='accent'>click</button>



  <div>
    <mat-button-toggle #todo> Toggle </mat-button-toggle>

    {{ todo.checked }}
  </div>


  <mat-button-toggle-group #group="matButtonToggleGroup">
    <ul>
      <li><mat-button-toggle value="left">
        left
      </mat-button-toggle></li>
      <li> <mat-button-toggle value="right">
        right
      </mat-button-toggle></li>
      <li>  <mat-button-toggle value="center">
        center
      </mat-button-toggle></li>
    </ul>

  </mat-button-toggle-group>

  <p>
    Selected value: {{group.value}}
  </p>



  <form [formGroup]='form'>

    <mat-form-field>

      <div class="col-1"></div>
      <input placeholder="Введите email" matInput formControlName='emailFormControl'>
      <button mat-button class='input__button' mat-icon-button matSuffix aria-label="Clear" (click)="this.form.controls.emailFormControl.setValue('');">
        <i class="material-icons">close</i>
      </button>
      <mat-error *ngIf="this.form.controls['emailFormControl'].hasError('email') && !this.form.controls['emailFormControl'].hasError('required')">
        Email
      </mat-error>

      <mat-error *ngIf="this.form.controls['emailFormControl'].hasError('required')">
        Введите значение
      </mat-error>

      <mat-hint> Значение принято </mat-hint>

    </mat-form-field>

    <br>


    <mat-form-field>
      <input type='number' placeholder="Введите код" matInput formControlName='emailFormControlSecond'>
      <button mat-button class='input__button' mat-icon-button matSuffix aria-label="Clear" (click)="this.form.controls.emailFormControlSecond.setValue(null);">
        <i class="material-icons">close</i>
      </button>
      <mat-error *ngIf="this.form.controls['emailFormControlSecond'].value > 999">
        Нужно ввести не больше 3 значений. Сейчас {{(this.form.controls['emailFormControlSecond'].value.toString()).length}}
      </mat-error>
      <mat-error *ngIf="this.form.controls['emailFormControlSecond'].value < 10 &&  this.form.controls['emailFormControlSecond'].value !== null">
        Нужно ввести не меньше 2 значений. Сейчас {{(this.form.controls['emailFormControlSecond'].value.toString()).length}}
      </mat-error>
      <mat-error *ngIf="this.form.controls['emailFormControlSecond'].hasError('required') &&  this.form.controls['emailFormControlSecond'].value === null">
        Введите значение
      </mat-error>



      <!-- <mat-error *ngIf="this.form.controls['emailFormControlSecond'].hasError('required')">
        Введите значение
      </mat-error> -->

      <mat-hint *ngIf="this.form.controls['emailFormControlSecond'].valid" > Значение принято </mat-hint>

    </mat-form-field>


    <!-- <p *ngIf="this.form.controls['emailFormControl'].invalid" class='text-danger'> Введите корректный email </p> -->



  </form>


  <button mat-stroked-button color='primary' (click) ='this.form.markAllAsTouched()'>
  click
  </button>






  <!-- <input type="text" [(ngModel)]="inputText" > -->

  <p>Value: {{ this.inputText }} </p>





