


.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.nav-item{
  &:hover{
    cursor: pointer;
  }

}




.nav__a{
  border-bottom: 1px solid red;
  padding: 8px 0px;
  margin: 0 8px;
}


span{
  padding-right: 1rem;
}


.icon-new{
  vertical-align: middle;

  &.general{
    font-size: 2.7rem;
    // margin-top: 10px;
  }
}


mat-sidenav-container{
  height: 100%;
}


mat-sidenav-content, mat-sidenav{
  padding: 16px;
}

mat-sidenav{
  background-color: rgb(255, 105, 105);
  max-width: 50vw;

  min-width: 300px;
}


mat-grid-tile{
  background-color: khaki;
  // border: 5px solid white;
}










