


.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.nav-item{

  &:hover{
    cursor: pointer;
  }

}

.nav-link{
  color: rgb(187, 187, 187);
  font-weight: 500;

  &.active{
    color: rgb(231, 231, 231);
    font-weight: 500;
  }
}






.nav__a{
  border-bottom: 1px solid red;
  padding: 8px 0px;
  margin: 0 8px;
}


span{
  padding-right: 1rem;
}


.icon-new{
  vertical-align: middle;

  &.general{
    font-size: 2.7rem;
    // margin-top: 10px;
  }
}


mat-sidenav-container{
  height: 100%;
}


mat-sidenav-content, mat-sidenav{
  padding: 16px;
}

mat-sidenav{
  background-color: rgb(255, 105, 105);
  max-width: 50vw;

  min-width: 300px;
}


mat-grid-tile{
  background-color: khaki;
  // border: 5px solid white;
}



::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(175, 175, 175);
}









