<nav class="navbar navbar-expand-md ftco_navbar ftco-navbar-light" style="background-color: rgb(57, 55, 189); height: 62px; padding-bottom: 0;">
  <div class="container" style='border-bottom: 2px solid rgb(218, 218, 218);'>
    <a class="navbar-brand" style='padding: 0px;' routerLink="/">
      <mat-icon  style="font-size: 40px; color: rgb(218, 218, 218); margin-right: 5px;"> apartment </mat-icon>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button mat-button>
            <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Home screen</a>
          </button>
        </li>
        <li class="nav-item">
          <button mat-button>
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </button>
        </li>
        <li class="nav-item">
          <button mat-button>
            <a class="nav-link" routerLink="/time" routerLinkActive="active">Time</a>
          </button>
        </li>
        <li class="nav-item">
          <button mat-button>
            <a class="nav-link" routerLink="/submarine" routerLinkActive="active">Submarine</a>
          </button>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button mat-icon-button [routerLink]="['item', '3' ]" [queryParams]="{'product':'phone X', 'price': 200}" >
            <mat-icon style="font-size: 23px; color: rgb(218, 218, 218);"> cloud_done </mat-icon>
          </button>
        </li>
        <li class="nav-item" >
          <button mat-icon-button [routerLink]="['item', '10' ]" [queryParams]="{'product':'Pancil'}">
            <mat-icon style="font-size: 23px; color: rgb(218, 218, 218);"> adb </mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>




<div class="content" style="height: calc(100vh - 62px); overflow: auto;margin: 0; padding: 0 ; background-color: rgba(211, 202, 202, 0.404);">
  <router-outlet></router-outlet>
</div>






